/* footer.css */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1010;
}
.footer-content p {
    display: inline-block;
    margin: 0 10px;
}
